/* SidebarLayout.css */
.sidebar {
  width: 250px; /* Adjusted width for the sidebar */
  background-color: #34495e;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

/* Sidebar links */
.nav-link {
  color: #ecf0f1;
  text-decoration: none;
  margin-bottom: 20px;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
  display: flex;
  align-items: center; /* Center items vertically */
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #65a8d8;
  color: #fff;
}

/* Active link styling */
.nav-link.active {
  background-color: #2980b9;
  color: #fff;
}

/* Icon styling */
.nav-link .icon {
  margin-right: 10px; /* Space between icon and text */
  width: 24px; /* Adjust icon size */
  height: 24px; /* Adjust icon size */
}

.content {
  margin-left: 260px; /* Fixed margin to match sidebar width */
  padding: 20px;
  background-color: #ecf0f1;
  overflow-y: auto;
  height: calc(100vh - 40px); /* Ensure the content area takes full height */
  box-sizing: border-box; /* Include padding in height calculations */
}

.page-container {
  max-width: 1200px; /* Set max-width to maintain consistent content width */
  margin: 0 auto; /* Center align content */
}

.footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 260px); /* Adjust width to account for sidebar */
  background-color: #34495e;
  color: #ecf0f1;
  text-align: center;
  padding: 10px;
}
